.Header {
  background: rgb(56, 56, 56);
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

.Header h1 {
  display: grid;
  justify-content: flex-start;
  padding-right: 190px;
  color: red;
  text-shadow: 2px 2px black;

}

.Header nav {
  justify-self: end;
}

.Header nav a {
  margin-left: 10px;
  color: red;
  text-decoration: none;
  text-shadow: 1px 1px black;
}

.Header h2 {
  width: 100%;
}