.Header {
  font-family: 'Creepster', cursive;
  color: rgb(102, 204, 19);
  background: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

.Header h1 {

  font-size: 2.5rem;
  text-shadow: rgba(74, 121, 52, 0.801) 0px 7px 7px;
  display: grid;
  justify-content: flex-start;
  padding-left: 35px;

}

.Header nav {
  justify-self: end;
  padding-right: 35px;
}

.Header nav a {
  margin-left: 10px;
  color: rgb(102, 204, 19);
  text-decoration: none;
  text-shadow: rgba(74, 121, 52, 0.801) 0px 3px 3px;
}

.Header h2 {
  width: 100%;
}