.Header {
  background: rgb(56, 56, 56);
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

.Header h1 {
  display: grid;
  justify-content: flex-start;
  color: red;
  text-shadow: black 0px 7px 7px;
  padding-left: 35px;

}

.Header nav {
  justify-self: end;
  padding-right: 35px;
}

.Header nav a {
  margin-left: 10px;
  color: red;
  text-decoration: none;
  text-shadow: black 0px 5px 5px;
}

.Header h2 {
  width: 100%;
}