.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  font-family: 'Creepster', cursive;
  color: rgb(102, 204, 19);
  font-size: 1.5em;
  text-shadow: black 0px 7px 7px;
}

.Home a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  font-family: 'Creepster', cursive;
  color: rgb(102, 204, 19);
  font-size: 1em;
  text-shadow: black 0px 7px 7px;
}