.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  font-family: 'Creepster', cursive;
  color: rgb(102, 204, 19);
  font-size: 1.5em;
  text-shadow: rgba(74, 121, 52, 0.801) 0px 7px 7px;
}

.Home a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  font-family: 'Creepster', cursive;
  color: rgb(102, 204, 19);
  font-size: 1em;
  text-shadow: rgba(74, 121, 52, 0.801) 0px 7px 7px;
  margin-top: -1em;
}

.imageHome{
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 12em;
  object-fit: contain;
}