.img {
  height:220px;
  width:150px;
  object-fit: fill;
  border: 1px solid #ccc;
  box-shadow: black 0px 7px 7px;
}

.title {
  background-color: rgb(255, 233, 233);
  font-size: 1.3em;
  padding: .3em;

  box-shadow: black 0px 5px 5px;
}

.year {
  font-size: 1.3em;
  background-color: rgb(255, 233, 233);
  padding: .2em;

  box-shadow: black 0px 5px 5px;
}