.movieDetailPage {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movieimage {
  height:290px;
  width:220px;
  object-fit: contain;
}

.title{
  font-size: 1em;
  text-shadow: rgba(255, 238, 139, 0.89) .5px .5px .5px;
  background-color: rgb(255, 255, 255);
  padding: .5em;
  box-shadow: rgba(255, 238, 139, 0.89) 0px 1px 1px .5px;
}

.movieInfo{
  font-size: .9em;
  text-shadow: rgba(255, 238, 139, 0.89) .5px .5px .5px;
  background-color: rgb(255, 255, 255);
  padding-left: .5em;
  padding-right: .5em;
  box-shadow: rgba(255, 238, 139, 0.89) 0px 1px 1px .5px;
}

.movie{
  width: 18.4em;
  margin-top: .5em;
  margin-bottom: .5em;
}

.backButton {
  display: flex;
  margin-top: 1em;
  padding: .3em;
  font-size: .9em;
  text-shadow: rgba(255, 238, 139, 0.89) .5px .5px .5px;
  box-shadow: rgba(255, 238, 139, 0.89) 0px 1px 1px .5px;
  background-color: rgb(255, 255, 255);

}
