.img {
  height:220px;
  width:150px;
  object-fit: fill;
  box-shadow:  rgba(74, 121, 52, 0.801) 0px 0px 9px 3px;
}

.title {
  font-size: 1.3em;
  font-weight: 400;
  text-shadow: rgba(74, 121, 52, 0.801) 0px 5px 5px;
  color: rgb(102, 204, 19);
  background: rgb(0, 0, 0);
}

.year {
  font-size: 1.3em;
  font-weight: 400;
  text-shadow: rgba(74, 121, 52, 0.801) 0px 5px 5px;
  color: rgb(102, 204, 19);
  background: rgb(0, 0, 0);
}