.movieDetailPage {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movieimage {
  height:220px;
  width:150px;
  box-shadow:  rgba(74, 121, 52, 0.801) 0px 0px 9px 3px;
  object-fit: fill;
}

.title{
  font-size: .9em;
  font-weight: 400;
  text-shadow: rgba(74, 121, 52, 0.801) 0px 5px 5px;
  color: rgb(102, 204, 19);
  background: rgb(0, 0, 0);
  padding: .2em;

}

.movieInfo{
  font-size: .9em;
  text-shadow: rgba(74, 121, 52, 0.801) 0px 5px 5px;
  color: rgb(102, 204, 19);
  background: rgb(0, 0, 0);
  padding-left: .5em;
  padding-right: .5em;
  text-align: left;
}

.movie{
  max-width: 30em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.backButton {
  display: flex;
  margin-top: 1em;
  padding: .3em;
  font-size: .9em;
  font-weight: 400;
  text-shadow: rgba(74, 121, 52, 0.801) 0px 5px 5px;
  color: rgb(102, 204, 19);
  background: rgb(0, 0, 0);

}
